@page
@model GigTechMvc.Views.Pages.UserPageModel
@inject GigTechContext _dbContext
@using GigTech.Shared
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    var products = ViewBag.Products as List<Product>;
    var userId = await UserManager.GetUserAsync(User);

    //hämtar eposten från usern
    var userEmail = userId.Email;

    // Retrieve customer based on user's email
    var dbCustomer = _dbContext.Customers.FirstOrDefault(c => c.Email == userEmail);

    // Kontrollera om kunden finns och hämta kundens ID
    var customerId = dbCustomer?.CustomerId;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/userpagestyle.css">
</head>
<body>
    <div id="topBorder">
        <div id="topBorder_img">
            <img id="" src="@dbCustomer.ProfileImage" />
        </div>
        <div id="topBorder-left">
            <h2>@dbCustomer.Username</h2>
            <p><strong style="color: orangered">@dbCustomer.VMoney</strong> vMoney</p>
        </div>
        <div id="topBorder-right">
            <a asp-controller="UserPage" asp-action="UserPage" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="yourprofile">
                    <p>PROFILE</p>
                </div>
            </a>
            <a asp-controller="UserPage" asp-action="UserPageEdit" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="editprofile">
                    <p>EDIT</p>
                </div>
            </a>
            <a asp-controller="UserPage" asp-action="UserPageHistory" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="History">
                    <p>ORDERS</p>
                </div>
            </a>
        </div>
    </div>

    <div class="profileGames">

        <div id="order-history">
            <table>
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Title</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var gameId in dbCustomer.Games.Split(',').Select(int.Parse))
                    {
                        var game = _dbContext.Products.FirstOrDefault(p => p.ProductId == gameId);
                        if (game != null)
                        {
                            <tr>
                                <td>@game.ProductId</td>
                                <td>@game.Title</td>
                                <td>@game.Price</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>



        <div class="profile-shopcontainer">
            <div id="profile-shopcontainerGames">
                <h2>GAME LIBRARY</h2>

                <div class="side-scroll">
                    @foreach (var game in products) // Iterate through all games
                    {

                        <div class="gamelib">
                            <a asp-controller="Product" asp-action="ProductDetailPage" asp-route-id="@game.ProductId"><img src="@game.ImageOne" alt="@game.Title" class="game-image"> </a>
                            <p>@game.Title</p>
                        </div>

                    }
                </div>
            </div>
        </div>

</body>
</html>
