@page
@model GigTechMvc.Views.Pages.UserPageHistoryModel
@using GigTech.Shared;
@{
    var customer = ViewBag.Customer as Customer;
    var products = ViewBag.Products as List<Product>;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/userpagestyle.css">
    <script src="~/js/userpage.js"></script>
</head>
<body>
    <div id="topBorder">
        <div id="topBorder_img">
            <img id="" src="@customer.ProfileImage" />
        </div>
        <div id="topBorder-left">
            <h2>@customer.Username</h2>
            <p><strong style="color: orangered">@customer.VMoney</strong> vMoney</p>
        </div>
        <div id="topBorder-right">
            <a asp-controller="UserPage" asp-action="UserPage" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="yourprofile">
                    <p>PROFILE</p>
                </div>
            </a>
            <a asp-controller="UserPage" asp-action="UserPageEdit" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="editprofile">
                    <p>EDIT</p>
                </div>
            </a>
            <a asp-controller="UserPage" asp-action="UserPageHistory" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="History">
                    <p>ORDERS</p>
                </div>
            </a>
        </div>
    </div>

    <div class="profileGames">
        <div id="yourGames-text">
            <h3>ORDER HISTORY</h3>
        </div>



    </div>

    <div class="profile-shopcontainer">
        <div id="profile-shopcontainerGames">
            <h3>GAME LIBRARY</h3>

            <div class="side-scroll">
                @foreach (var game in products) // Iterate through all games
                {
                    <div class="gamelib">
                        <img src="@game.ImageOne" alt="@game.Title" class="game-image">
                        <p>@game.Title</p>
                    </div>
                }
            </div>
        </div>
    </div>

</body>
</html>
