@model GigTech.Shared.Customer
@using GigTech.Shared
@{
    var customer = ViewBag.Customer as Customer;
    var products = ViewBag.Products as List<Product>;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/userpagestyle.css">
    <script src="~/js/userpage.js"></script>
</head>
<body>

    <div id="topBorder">
        <div id="topBorder_img">
            <img id="" src="@customer.ProfileImage" />
        </div>
        <div id="topBorder-left">
            <h2>@customer.Username</h2>
            <p><strong style="color: orangered">@customer.VMoney</strong> vMoney</p>
        </div>
        <div id="topBorder-right">
            <a asp-controller="UserPage" asp-action="UserPage" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="yourprofile">
                    <p>PROFILE</p>
                </div>
            </a>
            <a asp-controller="UserPage" asp-action="UserPageEdit" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="editprofile">
                    <p>EDIT</p>
                </div>
            </a>
            <a asp-controller="UserPage" asp-action="UserPageHistory" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="History">
                    <p>ORDERS</p>
                </div>
            </a>
        </div>
    </div>

    <div class="profileGames">
        <div id="profile-information">
            <div id="profile-information-left">
                <h3>YOUR PROFILE</h3>
                <p><strong>First Name:</strong> @customer.FirstName</p>
                <p><strong>Last Name:</strong> @customer.LastName</p>
                <p><strong>Email:</strong> @customer.Email</p>
                <p><strong>Phone Number:</strong> @customer.PhoneNumber</p>
                <p><strong>Password:</strong> ********</p>
                <p><strong>Username:</strong> @customer.Username</p>
                <br />
                <button id="editProfileBtn" class="edit-profile-button">EDIT PROFILE</button>

                <div id="editProfileForm" style="display: none;">
                    <form id="profileForm" asp-controller="UserPage" asp-action="OnPostSaveChanges" method="post">
                        <div class="form-group">
                            <label asp-for="FirstName">First Name:</label>
                            <input asp-for="FirstName" class="form-control" value="@customer.FirstName" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName">Last Name:</label>
                            <input asp-for="LastName" class="form-control" value="@customer.LastName" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email">Email:</label>
                            <input asp-for="Email" class="form-control" value="@customer.Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PhoneNumber">Phone Number:</label>
                            <input asp-for="PhoneNumber" class="form-control" value="@customer.PhoneNumber" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Username">Username:</label>
                            <input asp-for="Username" class="form-control" value="@customer.Username" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>

                    @section Scripts {
                        @{
                            await Html.RenderPartialAsync("_ValidationScriptsPartial");
                        }
                    }
                </div>
            </div>

            <div id="profile-information-right">
                <form id="TEST" asp-controller="UserPage" asp-action="Deposit" method="post">
                    <div class="TEST2">
                        <label asp-for="VMoney">vMoney</label>
                        <input asp-for="VMoney" class="TEST3" value="@customer.VMoney" />
                        <span asp-validation-for="VMoney" class="TEST4"></span>
                    </div>
                    <button type="submit" class="TEST5">Save Changes</button>
                </form>
            </div>

        </div>
    </div>


    <div class="profile-shopcontainer">
        <div id="profile-shopcontainerGames">
            <h2>GAME LIBRARY</h2>

            <div class="side-scroll">
                @foreach (var game in products) // Iterate through all games
                {
                    <div class="gamelib">
                        <img src="@game.ImageOne" alt="@game.Title" class="game-image">
                        <p>@game.Title</p>
                    </div>
                }
            </div>
        </div>
    </div>

</body>
</html>
