@page
@model GigTechMvc.Views.Pages.UserPageModel
@inject GigTechContext _dbContext
@using GigTech.Shared
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    var products = ViewBag.Products as List<Product>;
    var userId = await UserManager.GetUserAsync(User);
    var userEmail = userId.Email;

    // Retrieve customer based on user's email
    var dbCustomer = _dbContext.Customers.FirstOrDefault(c => c.Email == userEmail);

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/userpagestyle.css">
</head>
<body>
    <div id="topBorder">
        <div id="topBorder_img">
            <img id="" src="@dbCustomer.ProfileImage" />
        </div>
        <div id="topBorder-left">
            <h2>@dbCustomer.Username</h2>
            <p><strong style="color: orangered">@dbCustomer.VMoney</strong> vMoney</p>
        </div>
        <div id="topBorder-right">
            <a asp-controller="UserPage" asp-action="UserPage" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="yourprofile">
                    <p>PROFILE</p>
                </div>
            </a>
            <a asp-controller="UserPage" asp-action="UserPageEdit" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="editprofile">
                    <p>EDIT</p>
                </div>
            </a>
            <a asp-controller="UserPage" asp-action="UserPageHistory" class="icon-button">
                <div class="icon">
                    <img src="https://i.ibb.co/cXZKtxh/editprofile-icon.png" alt="History">
                    <p>ORDERS</p>
                </div>
            </a>
        </div>
    </div>

    <div class="profileGames">
        <div id="yourGames-text">
            <h3>YOUR GAMES</h3>
        </div>

        @if (dbCustomer != null && !string.IsNullOrEmpty(dbCustomer.Games))
        {
            var gameIds = dbCustomer.Games.Split(',').Select(int.Parse).ToList();

            foreach (var gameId in gameIds)
            {
                var product = products.FirstOrDefault(c => c.ProductId == gameId);
                if (product != null)
                {
                    <div class="game">
                        <a asp-controller="Product" asp-action="ProductDetailPage" asp-route-id="@product.ProductId">
                            <img src="@product.SmallImage" alt="@product.Title" class="game-image"></a>
                        <div class="gameName-container">@product.Title</div>
                        <div class="gameDes-container">@product.Description.Substring(0, 100)</div>
                        <div class="gameDownload-container">
                            <a href="https://file.io/GWPAjzfKITlE" download>
                                <button class="download-button">DOWNLOAD</button>
                            </a>
                            <a href="https://file.io/GWPAjzfKITlE" download>
                                <button class="download-button">PLAY NOW</button>
                            </a>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div id="noGames-container">
                <p>You don't have any games.</p>
                <button>GAME LIBRARY</button>
            </div>
        }

    </div>

    <div class="profile-shopcontainer">
        <div id="profile-shopcontainerGames">
            <h2>GAME LIBRARY</h2>

            <div class="side-scroll">
                @foreach (var game in products) // Iterate through all games
                {

                    <div class="gamelib">
                        <a asp-controller="Product" asp-action="ProductDetailPage" asp-route-id="@game.ProductId"><img src="@game.ImageOne" alt="@game.Title" class="game-image"> </a>
                        <p>@game.Title</p>
                    </div>


                }
            </div>
        </div>
    </div>

</body>
</html>
